@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400');
@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/animations/scale-subtle.css';
body,
button,
input,
optgroup,
select,
textarea {
  font-family: 'Montserrat', sans-serif;
}

.material-icons {
  &.md-18 {
    font-size: 18px;
  }
  &.md-24 {
    font-size: 24px;
  }
  &.md-36 {
    font-size: 36px;
  }
  &.md-48 {
    font-size: 48px;
  }
}

.buttons-row {
  > button {
    margin-right: 1rem !important;
  }
}

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
