.navbar {
    height: 96px;
    background-color: white;
    z-index: 5;
    background-color: #323232;
    border-radius: 0;
    border-bottom: 1px solid black;
}

.navbar__logo {
    height: 100%;
    display: inline-block;

    &:hover {
        .navbar__text {
            text-decoration: none;
        }
    }
}

a:hover {
    text-decoration: none !important;
} 

.navbar__text {
    color: white;
    font-size: 66px;
    line-height: 66px;
    vertical-align: middle;
}

@media only screen and (max-width: 529px) {
    .navbar {
        height: 60px;
    }
}

@media only screen and (min-width: 530px) and (max-width: 949px) {
    .navbar {
        height: 70px;
    }
}
